.header {
    color: white;
    background-color: #33978b;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.header img {
    height: 15px;
    position: relative;
    top: 22px;
    cursor: pointer;
}

.body img {
    height: 200px;
    width: 100%;
    position: relative;
    top: 10px;
    border-radius: 10px;
}

.content {
    width: 300px;
    position: relative;
    bottom: 65px;
    left: 5px;
}

.content p {
    margin: 0px;
}

.content h2 {
    margin: 0px;
}

.posts {
    background-color: #33978b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
    position: relative;
    bottom: 45px;
}

.first {
    background-color: rgb(225, 224, 224);
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
}

.first img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.first-text {
    position: relative;
}

.first-text p {
    margin: 5px 0;
}

.first-text h2 {
    margin: 5px 0;
}

#one {
    color: #33978b;
}

.after-post {
    position: relative;
    top: -50px;
}

.endline {
    position: relative;
    top: -50px;
    text-align: center;
    background-color: #33978b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
}

#two {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
}

.first {
    flex: 1 1 calc(50% - 20px); 
    box-sizing: border-box; 
    margin: 10px 0;
}

@media screen and (max-width: 500px) {
    .first {
        flex: 1 1 100%; 
    }
}

